In [64]:
import pandas as pd

In [65]:
df_germany = pd.read_excel('../data /imf_GERMANY_data.xlsx')

# Load the second XLSX file into a DataFrame
df_us = pd.read_excel('../data /imf_US_data.xlsx')

In [66]:
df_germany

,International Financial Statistics (IFS),Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,NaN,Germany,Germany,Germany,Germany
1,NaN,"Economic Activity, Industrial Production, Index","Exchange Rates, National Currency Per U.S. Dol...","International Reserves and Liquidity, Reserves...","Prices, Consumer Price Index, All items, Index"
2,Dec 1959,32.500305,4.2,4811.474341,24.616929
3,Jan 1960,31.193881,4.2,4724.155785,24.616929
4,Feb 1960,31.041599,4.2,4806.36283,24.477068
...,...,...,...,...,...
370,Aug 1990,75.964955,1.5707,72425.738573,67.556702
371,Sep 1990,86.496497,1.5697,73197.573621,67.766509
372,Oct 1990,92.643903,1.5233,75011.92683,68.256049
373,Nov 1990,89.461999,1.487,76166.074709,68.116177
374,Dec 1990,83.811515,1.492,77064.207674,68.186113

In [67]:
df_germany.rename(columns={'International Financial Statistics (IFS)': 'Month'}, inplace=True)

# Rename the unnamed columns based on the provided names
new_column_names = [
    'Month',
    'Economic Activity, Industrial Production, Index',
    'Exchange Rates, National Currency Per U.S. Dollar, Period Average, Rate',
    'International Reserves and Liquidity, Reserves, Official Reserve Assets, US Dollar',
    'Prices, Consumer Price Index, All items, Index'
]
df_germany.columns = new_column_names
df_germany = df_germany.drop([0, 1])

In [68]:
df_germany

,Month,"Economic Activity, Industrial Production, Index","Exchange Rates, National Currency Per U.S. Dollar, Period Average, Rate","International Reserves and Liquidity, Reserves, Official Reserve Assets, US Dollar","Prices, Consumer Price Index, All items, Index"
2,Dec 1959,32.500305,4.2,4811.474341,24.616929
3,Jan 1960,31.193881,4.2,4724.155785,24.616929
4,Feb 1960,31.041599,4.2,4806.36283,24.477068
5,Mar 1960,32.203755,4.2,4966.456016,24.477068
6,Apr 1960,34.287622,4.2,5236.120624,24.616929
...,...,...,...,...,...
370,Aug 1990,75.964955,1.5707,72425.738573,67.556702
371,Sep 1990,86.496497,1.5697,73197.573621,67.766509
372,Oct 1990,92.643903,1.5233,75011.92683,68.256049
373,Nov 1990,89.461999,1.487,76166.074709,68.116177
374,Dec 1990,83.811515,1.492,77064.207674,68.186113

In [69]:
df_us

,International Financial Statistics (IFS),Unnamed: 1,Unnamed: 2
0,NaN,United States,United States
1,NaN,"International Reserves and Liquidity, Reserves...","Prices, Consumer Price Index, All items, Index"
2,Dec 1959,21504.5,13.482806
3,Jan 1960,21478.1,13.436946
4,Feb 1960,21395.7,13.482806
...,...,...,...
370,Aug 1990,78908.838357,60.351608
371,Sep 1990,80024.166133,60.856066
372,Oct 1990,82852.196532,61.222946
373,Nov 1990,83059.402774,61.360525
374,Dec 1990,83316.214608,61.360525

In [70]:
df_us.rename(columns={'International Financial Statistics (IFS)': 'Month'}, inplace=True)

# Rename the unnamed columns based on the provided names
new_column_names1 = [
    'Month',
    'International Reserves and Liquidity, Reserves, Official Reserve Assets, US Dollar',
    'Prices, Consumer Price Index, All items, Index'
]

df_us.columns = new_column_names1
df_us = df_us.drop([0, 1,])

In [71]:
df_us

,Month,"International Reserves and Liquidity, Reserves, Official Reserve Assets, US Dollar","Prices, Consumer Price Index, All items, Index"
2,Dec 1959,21504.5,13.482806
3,Jan 1960,21478.1,13.436946
4,Feb 1960,21395.7,13.482806
5,Mar 1960,21344.7,13.482806
6,Apr 1960,21278,13.528666
...,...,...,...
370,Aug 1990,78908.838357,60.351608
371,Sep 1990,80024.166133,60.856066
372,Oct 1990,82852.196532,61.222946
373,Nov 1990,83059.402774,61.360525
374,Dec 1990,83316.214608,61.360525

In [72]:
df_germany['Country'] = 'Germany'
df_us['Country'] = 'US'

# Merge the two DataFrames
merged_df = pd.concat([df_germany, df_us], ignore_index=True)

In [73]:
merged_df

,Month,"Economic Activity, Industrial Production, Index","Exchange Rates, National Currency Per U.S. Dollar, Period Average, Rate","International Reserves and Liquidity, Reserves, Official Reserve Assets, US Dollar","Prices, Consumer Price Index, All items, Index",Country
0,Dec 1959,32.500305,4.2,4811.474341,24.616929,Germany
1,Jan 1960,31.193881,4.2,4724.155785,24.616929,Germany
2,Feb 1960,31.041599,4.2,4806.36283,24.477068,Germany
3,Mar 1960,32.203755,4.2,4966.456016,24.477068,Germany
4,Apr 1960,34.287622,4.2,5236.120624,24.616929,Germany
...,...,...,...,...,...,...
741,Aug 1990,NaN,NaN,78908.838357,60.351608,US
742,Sep 1990,NaN,NaN,80024.166133,60.856066,US
743,Oct 1990,NaN,NaN,82852.196532,61.222946,US
744,Nov 1990,NaN,NaN,83059.402774,61.360525,US
745,Dec 1990,NaN,NaN,83316.214608,61.360525,US

In [74]:
columns = ['Month', 'Country', 'Economic Activity, Industrial Production, Index',
           'Exchange Rates, National Currency Per U.S. Dollar, Period Average, Rate',
           'International Reserves and Liquidity, Reserves, Official Reserve Assets, US Dollar',
           'Prices, Consumer Price Index, All items, Index']

merged_df = merged_df[columns]

# Display the cleaned DataFrame with reordered columns
merged_df

,Month,Country,"Economic Activity, Industrial Production, Index","Exchange Rates, National Currency Per U.S. Dollar, Period Average, Rate","International Reserves and Liquidity, Reserves, Official Reserve Assets, US Dollar","Prices, Consumer Price Index, All items, Index"
0,Dec 1959,Germany,32.500305,4.2,4811.474341,24.616929
1,Jan 1960,Germany,31.193881,4.2,4724.155785,24.616929
2,Feb 1960,Germany,31.041599,4.2,4806.36283,24.477068
3,Mar 1960,Germany,32.203755,4.2,4966.456016,24.477068
4,Apr 1960,Germany,34.287622,4.2,5236.120624,24.616929
...,...,...,...,...,...,...
741,Aug 1990,US,NaN,NaN,78908.838357,60.351608
742,Sep 1990,US,NaN,NaN,80024.166133,60.856066
743,Oct 1990,US,NaN,NaN,82852.196532,61.222946
744,Nov 1990,US,NaN,NaN,83059.402774,61.360525
745,Dec 1990,US,NaN,NaN,83316.214608,61.360525

In [75]:
df_germany = merged_df[merged_df['Country'] == 'Germany']
df_us = merged_df[merged_df['Country'] == 'US']

# Reset index for both DataFrames
df_germany.reset_index(drop=True, inplace=True)
df_us.reset_index(drop=True, inplace=True)

# Calculate the ratio of US CPI to Germany CPI
cpi_ratio = df_us['Prices, Consumer Price Index, All items, Index'].values / df_germany['Prices, Consumer Price Index, All items, Index'].values

# Calculate the monthly growth in the nominal exchange rate for Germany
df_germany['Real Exchange Rate'] = cpi_ratio * df_germany['Exchange Rates, National Currency Per U.S. Dollar, Period Average, Rate']

# Add the new variable to the original merged DataFrame
merged_df.loc[merged_df['Country'] == 'Germany', 'Real Exchange Rate'] = df_germany['Real Exchange Rate']

merged_df

/var/folders/16/ybdglc7d23vfl64gx8z5bp6m0000gn/T/ipykernel_66745/81894675.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_germany['Real Exchange Rate'] = cpi_ratio * df_germany['Exchange Rates, National Currency Per U.S. Dollar, Period Average, Rate']
/var/folders/16/ybdglc7d23vfl64gx8z5bp6m0000gn/T/ipykernel_66745/81894675.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged_df.loc[merged_df['Country'] == 'Germany', 'Real Exchange Rate'] = df_germany['Real Exchange Rate']

,Month,Country,"Economic Activity, Industrial Production, Index","Exchange Rates, National Currency Per U.S. Dollar, Period Average, Rate","International Reserves and Liquidity, Reserves, Official Reserve Assets, US Dollar","Prices, Consumer Price Index, All items, Index",Real Exchange Rate
0,Dec 1959,Germany,32.500305,4.2,4811.474341,24.616929,2.300359
1,Jan 1960,Germany,31.193881,4.2,4724.155785,24.616929,2.292535
2,Feb 1960,Germany,31.041599,4.2,4806.36283,24.477068,2.313504
3,Mar 1960,Germany,32.203755,4.2,4966.456016,24.477068,2.313504
4,Apr 1960,Germany,34.287622,4.2,5236.120624,24.616929,2.308184
...,...,...,...,...,...,...,...
741,Aug 1990,US,NaN,NaN,78908.838357,60.351608,NaN
742,Sep 1990,US,NaN,NaN,80024.166133,60.856066,NaN
743,Oct 1990,US,NaN,NaN,82852.196532,61.222946,NaN
744,Nov 1990,US,NaN,NaN,83059.402774,61.360525,NaN
745,Dec 1990,US,NaN,NaN,83316.214608,61.360525,NaN

In [76]:
# Rename the column
merged_df.rename(columns={'Exchange Rates, National Currency Per U.S. Dollar, Period Average, Rate': 'Nominal Exchange Rate'}, inplace=True)

# Display the cleaned DataFrame with the renamed column
merged_df

/var/folders/16/ybdglc7d23vfl64gx8z5bp6m0000gn/T/ipykernel_66745/966434703.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged_df.rename(columns={'Exchange Rates, National Currency Per U.S. Dollar, Period Average, Rate': 'Nominal Exchange Rate'}, inplace=True)

,Month,Country,"Economic Activity, Industrial Production, Index",Nominal Exchange Rate,"International Reserves and Liquidity, Reserves, Official Reserve Assets, US Dollar","Prices, Consumer Price Index, All items, Index",Real Exchange Rate
0,Dec 1959,Germany,32.500305,4.2,4811.474341,24.616929,2.300359
1,Jan 1960,Germany,31.193881,4.2,4724.155785,24.616929,2.292535
2,Feb 1960,Germany,31.041599,4.2,4806.36283,24.477068,2.313504
3,Mar 1960,Germany,32.203755,4.2,4966.456016,24.477068,2.313504
4,Apr 1960,Germany,34.287622,4.2,5236.120624,24.616929,2.308184
...,...,...,...,...,...,...,...
741,Aug 1990,US,NaN,NaN,78908.838357,60.351608,NaN
742,Sep 1990,US,NaN,NaN,80024.166133,60.856066,NaN
743,Oct 1990,US,NaN,NaN,82852.196532,61.222946,NaN
744,Nov 1990,US,NaN,NaN,83059.402774,61.360525,NaN
745,Dec 1990,US,NaN,NaN,83316.214608,61.360525,NaN

In [77]:
# Calculate the percentage change in the nominal exchange rate
merged_df['Nominal Exchange Rate Growth (%)'] = merged_df['Nominal Exchange Rate'].pct_change() * 100

/var/folders/16/ybdglc7d23vfl64gx8z5bp6m0000gn/T/ipykernel_66745/484403033.py:2: FutureWarning: The default fill_method='pad' in Series.pct_change is deprecated and will be removed in a future version. Either fill in any non-leading NA values prior to calling pct_change or specify 'fill_method=None' to not fill NA values.
  merged_df['Nominal Exchange Rate Growth (%)'] = merged_df['Nominal Exchange Rate'].pct_change() * 100
/var/folders/16/ybdglc7d23vfl64gx8z5bp6m0000gn/T/ipykernel_66745/484403033.py:2: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  merged_df['Nominal Exchange Rate Growth (%)'] = merged_df['Nominal Exchange Rate'].pct_change() * 100
/var/folders/16/ybdglc7d23vfl64gx8z5bp6m0000gn/T/ipykernel_66745/484403033.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged_df['Nominal Exchange Rate Growth (%)'] = merged_df['Nominal Exchange Rate'].pct_change() * 100

In [78]:
merged_df

,Month,Country,"Economic Activity, Industrial Production, Index",Nominal Exchange Rate,"International Reserves and Liquidity, Reserves, Official Reserve Assets, US Dollar","Prices, Consumer Price Index, All items, Index",Real Exchange Rate,Nominal Exchange Rate Growth (%)
0,Dec 1959,Germany,32.500305,4.2,4811.474341,24.616929,2.300359,NaN
1,Jan 1960,Germany,31.193881,4.2,4724.155785,24.616929,2.292535,0.0
2,Feb 1960,Germany,31.041599,4.2,4806.36283,24.477068,2.313504,0.0
3,Mar 1960,Germany,32.203755,4.2,4966.456016,24.477068,2.313504,0.0
4,Apr 1960,Germany,34.287622,4.2,5236.120624,24.616929,2.308184,0.0
...,...,...,...,...,...,...,...,...
741,Aug 1990,US,NaN,NaN,78908.838357,60.351608,NaN,0.0
742,Sep 1990,US,NaN,NaN,80024.166133,60.856066,NaN,0.0
743,Oct 1990,US,NaN,NaN,82852.196532,61.222946,NaN,0.0
744,Nov 1990,US,NaN,NaN,83059.402774,61.360525,NaN,0.0
745,Dec 1990,US,NaN,NaN,83316.214608,61.360525,NaN,0.0

In [79]:
print(merged_df[['Month', 'Country', 'Nominal Exchange Rate', 'Nominal Exchange Rate Growth (%)']].head(30))

       Month  Country Nominal Exchange Rate  Nominal Exchange Rate Growth (%)
0   Dec 1959  Germany                   4.2                               NaN
1   Jan 1960  Germany                   4.2                          0.000000
2   Feb 1960  Germany                   4.2                          0.000000
3   Mar 1960  Germany                   4.2                          0.000000
4   Apr 1960  Germany                   4.2                          0.000000
5   May 1960  Germany                   4.2                          0.000000
6   Jun 1960  Germany                   4.2                          0.000000
7   Jul 1960  Germany                   4.2                          0.000000
8   Aug 1960  Germany                   4.2                          0.000000
9   Sep 1960  Germany                   4.2                          0.000000
10  Oct 1960  Germany                   4.2                          0.000000
11  Nov 1960  Germany                   4.2                          0.000000
12  Dec 1960  Germany                   4.2                          0.000000
13  Jan 1961  Germany                   4.2                          0.000000
14  Feb 1961  Germany                   4.2                          0.000000
15  Mar 1961  Germany                   4.0                         -4.761905
16  Apr 1961  Germany                   4.0                          0.000000
17  May 1961  Germany                   4.0                          0.000000
18  Jun 1961  Germany                   4.0                          0.000000
19  Jul 1961  Germany                   4.0                          0.000000
20  Aug 1961  Germany                   4.0                          0.000000
21  Sep 1961  Germany                   4.0                          0.000000
22  Oct 1961  Germany                   4.0                          0.000000
23  Nov 1961  Germany                   4.0                          0.000000
24  Dec 1961  Germany                   4.0                          0.000000
25  Jan 1962  Germany                   4.0                          0.000000
26  Feb 1962  Germany                   4.0                          0.000000
27  Mar 1962  Germany                   4.0                          0.000000
28  Apr 1962  Germany                   4.0                          0.000000
29  May 1962  Germany                   4.0                          0.000000

In [80]:
# Calculate the percentage change in the real exchange rate
merged_df['Real Exchange Rate Growth (%)'] = merged_df['Real Exchange Rate'].pct_change() * 100

# Display the first 10 rows with relevant columns
print(merged_df[['Month', 'Country', 'Real Exchange Rate', 'Real Exchange Rate Growth (%)']].head(10))

      Month  Country Real Exchange Rate  Real Exchange Rate Growth (%)
0  Dec 1959  Germany           2.300359                            NaN
1  Jan 1960  Germany           2.292535                      -0.340136
2  Feb 1960  Germany           2.313504                       0.914640
3  Mar 1960  Germany           2.313504                       0.000000
4  Apr 1960  Germany           2.308184                      -0.229943
5  May 1960  Germany           2.301645                      -0.283291
6  Jun 1960  Germany           2.309447                       0.338983
7  Jul 1960  Germany           2.309447                       0.000000
8  Aug 1960  Germany           2.309447                       0.000000
9  Sep 1960  Germany           2.316008                       0.284096

/var/folders/16/ybdglc7d23vfl64gx8z5bp6m0000gn/T/ipykernel_66745/2194928116.py:2: FutureWarning: The default fill_method='pad' in Series.pct_change is deprecated and will be removed in a future version. Either fill in any non-leading NA values prior to calling pct_change or specify 'fill_method=None' to not fill NA values.
  merged_df['Real Exchange Rate Growth (%)'] = merged_df['Real Exchange Rate'].pct_change() * 100
/var/folders/16/ybdglc7d23vfl64gx8z5bp6m0000gn/T/ipykernel_66745/2194928116.py:2: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  merged_df['Real Exchange Rate Growth (%)'] = merged_df['Real Exchange Rate'].pct_change() * 100
/var/folders/16/ybdglc7d23vfl64gx8z5bp6m0000gn/T/ipykernel_66745/2194928116.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged_df['Real Exchange Rate Growth (%)'] = merged_df['Real Exchange Rate'].pct_change() * 100

In [81]:
merged_df

,Month,Country,"Economic Activity, Industrial Production, Index",Nominal Exchange Rate,"International Reserves and Liquidity, Reserves, Official Reserve Assets, US Dollar","Prices, Consumer Price Index, All items, Index",Real Exchange Rate,Nominal Exchange Rate Growth (%),Real Exchange Rate Growth (%)
0,Dec 1959,Germany,32.500305,4.2,4811.474341,24.616929,2.300359,NaN,NaN
1,Jan 1960,Germany,31.193881,4.2,4724.155785,24.616929,2.292535,0.0,-0.340136
2,Feb 1960,Germany,31.041599,4.2,4806.36283,24.477068,2.313504,0.0,0.914640
3,Mar 1960,Germany,32.203755,4.2,4966.456016,24.477068,2.313504,0.0,0.000000
4,Apr 1960,Germany,34.287622,4.2,5236.120624,24.616929,2.308184,0.0,-0.229943
...,...,...,...,...,...,...,...,...,...
741,Aug 1990,US,NaN,NaN,78908.838357,60.351608,NaN,0.0,0.000000
742,Sep 1990,US,NaN,NaN,80024.166133,60.856066,NaN,0.0,0.000000
743,Oct 1990,US,NaN,NaN,82852.196532,61.222946,NaN,0.0,0.000000
744,Nov 1990,US,NaN,NaN,83059.402774,61.360525,NaN,0.0,0.000000
745,Dec 1990,US,NaN,NaN,83316.214608,61.360525,NaN,0.0,0.000000

In [82]:
# Find the Real Exchange Rate for December 1990
rer_dec_1990 = merged_df.loc[merged_df['Month'] == 'Dec 1990', 'Real Exchange Rate'].values[0]

# Construct the Index
merged_df['RER_Index'] = merged_df['Real Exchange Rate'] / rer_dec_1990

merged_df

/var/folders/16/ybdglc7d23vfl64gx8z5bp6m0000gn/T/ipykernel_66745/2630384238.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged_df['RER_Index'] = merged_df['Real Exchange Rate'] / rer_dec_1990

,Month,Country,"Economic Activity, Industrial Production, Index",Nominal Exchange Rate,"International Reserves and Liquidity, Reserves, Official Reserve Assets, US Dollar","Prices, Consumer Price Index, All items, Index",Real Exchange Rate,Nominal Exchange Rate Growth (%),Real Exchange Rate Growth (%),RER_Index
0,Dec 1959,Germany,32.500305,4.2,4811.474341,24.616929,2.300359,NaN,NaN,1.713301
1,Jan 1960,Germany,31.193881,4.2,4724.155785,24.616929,2.292535,0.0,-0.340136,1.707474
2,Feb 1960,Germany,31.041599,4.2,4806.36283,24.477068,2.313504,0.0,0.914640,1.723091
3,Mar 1960,Germany,32.203755,4.2,4966.456016,24.477068,2.313504,0.0,0.000000,1.723091
4,Apr 1960,Germany,34.287622,4.2,5236.120624,24.616929,2.308184,0.0,-0.229943,1.719129
...,...,...,...,...,...,...,...,...,...,...
741,Aug 1990,US,NaN,NaN,78908.838357,60.351608,NaN,0.0,0.000000,NaN
742,Sep 1990,US,NaN,NaN,80024.166133,60.856066,NaN,0.0,0.000000,NaN
743,Oct 1990,US,NaN,NaN,82852.196532,61.222946,NaN,0.0,0.000000,NaN
744,Nov 1990,US,NaN,NaN,83059.402774,61.360525,NaN,0.0,0.000000,NaN
745,Dec 1990,US,NaN,NaN,83316.214608,61.360525,NaN,0.0,0.000000,NaN

In [84]:
# Convert 'Month' column to datetime format for proper sorting
merged_df['Month'] = pd.to_datetime(merged_df['Month'], format='%b %Y')

# Sort by Country first, then by Month (chronologically)
merged_df = merged_df.sort_values(by=['Country', 'Month'])

# Compute Monthly Inflation Rate within each country
merged_df['Monthly_Inflation_Rate'] = merged_df.groupby('Country')[
    'Prices, Consumer Price Index, All items, Index'].pct_change() * 100

# Convert 'Month' back to string format if needed for display
merged_df['Month'] = merged_df['Month'].dt.strftime('%b %Y')

merged_df

,Month,Country,"Economic Activity, Industrial Production, Index",Nominal Exchange Rate,"International Reserves and Liquidity, Reserves, Official Reserve Assets, US Dollar","Prices, Consumer Price Index, All items, Index",Real Exchange Rate,Nominal Exchange Rate Growth (%),Real Exchange Rate Growth (%),RER_Index,Monthly_Inflation_Rate
0,Dec 1959,Germany,32.500305,4.2,4811.474341,24.616929,2.300359,NaN,NaN,1.713301,NaN
1,Jan 1960,Germany,31.193881,4.2,4724.155785,24.616929,2.292535,0.0,-0.340136,1.707474,0.0
2,Feb 1960,Germany,31.041599,4.2,4806.36283,24.477068,2.313504,0.0,0.914640,1.723091,-0.568147
3,Mar 1960,Germany,32.203755,4.2,4966.456016,24.477068,2.313504,0.0,0.000000,1.723091,0.0
4,Apr 1960,Germany,34.287622,4.2,5236.120624,24.616929,2.308184,0.0,-0.229943,1.719129,0.571393
...,...,...,...,...,...,...,...,...,...,...,...
741,Aug 1990,US,NaN,NaN,78908.838357,60.351608,NaN,0.0,0.000000,NaN,0.920245
742,Sep 1990,US,NaN,NaN,80024.166133,60.856066,NaN,0.0,0.000000,NaN,0.835866
743,Oct 1990,US,NaN,NaN,82852.196532,61.222946,NaN,0.0,0.000000,NaN,0.602864
744,Nov 1990,US,NaN,NaN,83059.402774,61.360525,NaN,0.0,0.000000,NaN,0.224719
745,Dec 1990,US,NaN,NaN,83316.214608,61.360525,NaN,0.0,0.000000,NaN,0.0